* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/images/back-ground.png);
}

.container {
    display: flex;
    align-items: center;
    width: 70vw;
    height: 100vh;
    border: 2px solid #fff;
}

.displays {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: 100%;
}

.display-top {
    width: 726px;
    height: 423px;
    background-image: url(assets/images/back-ground-display-top.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.display-bottom {
    width: 570px;
    height: 406px;
    background-image: url(assets/images/back-ground-display-bottom.png);
    background-repeat: no-repeat;
    background-size: contain;
}

li   {
    list-style-type: none;
}

.resultado {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#palpite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #d3d3d3;
}

#dica {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #9e9e9e;
}